/*Style du tableau*/

div.tableau-item{
    color: #373737;
    width: 100px ;
    margin: 10;
    position: relative;
}

div.tableau-group{
    display:flex ;
    justify-content:center ;
    align-items:center ;
    margin: 20px;
}


.marseille{ background: url(../image/Marseille.jpg);}
.paris{ background: url(../image/Paris.jpg);}
.barcelone{ background: url(../image/Barcelone.jpg);}
.madrid{ background: url(../image/Madrid.jpg);}
.los-angeles { background: url(../image/Los-Angeles.jpg);}
.cancun{ background: url(../image/Cancun.jpg);}
.lima{ background: url(../image/Lima.jpg);}
.rio-de-janeiro{ background: url(../image/Rio-de-Janeiro.jpg);}
.londres{ background: url(../image/Londres.jpg);}
.shanghai{ background: url(../image/Shanghai.jpg);}
.phuket{ background: url(../image/Phuket.jpg);}
.johannesburg{ background: url(../image/Johannesburg.jpg);}
.kuta{ background: url(../image/Kuta.jpg);}
.bora-bora{ background: url(../image/Bora-bora.jpg);}
.rome{ background: url(../image/Rome.jpg);}

