h1{
    width: 38%;
    margin: 0 25%;
    padding-bottom: 10px;
    text-align: center;
}

.container{
  width:400px;
  margin:0 auto;
  margin-top:5%;
  font-family:  'Acme', sans-serif;
}


/* Style all input fields */

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
  
/* Style du boutton de soumission */  

  .button-submit{
    text-align: center;
  }

.button-submit input{
    background-color: whitesmoke;
    border: none;
    color: black;
    font-size: 30px;
    margin: 15px;
    font-family:  'Acme', sans-serif;
    border-radius: 40px;
}

  .button-submit input:hover {
    background-color: #ddd;
    color: black;
    transform:scale(1.01);
    transition:0.1 all
  }
  
  /* Style the container for inputs */

  .container1 {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */

  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */

  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }